### SQLite is a lightweight, built-in database in Python used for small to medium-sized applications. 
### It stores data in a single .db file and doesnâ€™t need a separate server.

In [1]:
import sqlite3

### 1. Connect to the database (creates if not exists)

In [2]:
conn = sqlite3.connect('mydata.db')

In [3]:
conn

### 2. Create a cursor object

In [4]:
cursor = conn.cursor()

In [5]:
cursor

### 3. Execute SQL queries

In [6]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER
    )
''')

### 4. Insert data

In [7]:
cursor.execute("INSERT INTO users (id,name, age) VALUES (1,'Alice', 25)")

In [8]:
cursor.execute("INSERT INTO users (id,name, age) VALUES (2,'Bob', 35)")

In [9]:
cursor.execute("INSERT INTO users (id,name, age) VALUES (3,'Carry', 15)")

### 5. Commit changes

In [10]:
conn.commit()

### 6. Fetch data

In [11]:
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

In [12]:
for row in rows:
    print(row)

(1, 'Alice', 25)
(2, 'Bob', 35)
(3, 'Carry', 15)

### 7.update

In [13]:
cursor.execute('''

update users set age = 45
    where name = 'Carry'

''')

cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

In [14]:
for row in rows:
    print(row)

(1, 'Alice', 25)
(2, 'Bob', 35)
(3, 'Carry', 45)

### 8.delete

In [15]:
cursor.execute("DELETE FROM users WHERE name = 'Bob'")

In [16]:
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

In [17]:
for row in rows:
    print(row)

(1, 'Alice', 25)
(3, 'Carry', 45)

In [18]:
for row in rows:
    cursor.execute("DELETE FROM users WHERE id = ?", (row[0],))

In [19]:
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

In [20]:
for row in rows:
    print(row)

In [21]:
conn.commit()

In [22]:
conn.close()

# second DB

In [23]:
connection = sqlite3.connect('mysales.db')

cursor = connection.cursor()

In [24]:
cursor.execute('''
 create table if not exists sales (
 id integer primary key,
 date text,
 product text,
 sales integer,
 region text
 )
''')

In [25]:
sales_data = [
    ('2023-09-15','product-1',500,'North'),
    ('2023-08-25','product-1',200,'South'),
    ('2023-05-22','product-1',560,'East'),
    ('2023-01-15','product-1',300,'West'),
    ('2023-12-10','product-1',750,'North'),
    ('2023-01-18','product-1',100,'West')
]

In [26]:
cursor.executemany('''
 insert into sales (date,product,sales,region) 
 values (?,?,?,?)
''' , sales_data)

In [27]:
connection.commit();

In [28]:
cursor.execute("SELECT * FROM sales")
rows = cursor.fetchall()

In [29]:
for row in rows:
    print(row)

(1, '2023-09-15', 'product-1', 500, 'North')
(2, '2023-08-25', 'product-1', 200, 'South')
(3, '2023-05-22', 'product-1', 560, 'East')
(4, '2023-01-15', 'product-1', 300, 'West')
(5, '2023-12-10', 'product-1', 750, 'North')
(6, '2023-01-18', 'product-1', 100, 'West')
(7, '2023-09-15', 'product-1', 500, 'North')
(8, '2023-08-25', 'product-1', 200, 'South')
(9, '2023-05-22', 'product-1', 560, 'East')
(10, '2023-01-15', 'product-1', 300, 'West')
(11, '2023-12-10', 'product-1', 750, 'North')
(12, '2023-01-18', 'product-1', 100, 'West')
(13, '2023-09-15', 'product-1', 500, 'North')
(14, '2023-08-25', 'product-1', 200, 'South')
(15, '2023-05-22', 'product-1', 560, 'East')
(16, '2023-01-15', 'product-1', 300, 'West')
(17, '2023-12-10', 'product-1', 750, 'North')
(18, '2023-01-18', 'product-1', 100, 'West')

In [30]:
for row in rows:
    cursor.execute("DELETE FROM sales WHERE id = ?", (row[0],))

In [31]:
connection.close()