# Dictionaries Assignment

## Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

In [4]:
d = {
    x:x** 2
    for x in range(1,11)
}

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

## Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

In [7]:
print(f"Value of key 5: {d[5]}")

keys = list(d.keys())

print(f"Keys: {keys}")

Value of key 5: 25
Keys: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

In [8]:
d[11] = 121

d.pop(1)
print(d)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

## Iterate over the dictionary created in Assignment 1 and print each key-value pair.

In [10]:
for key,val in d.items():
    print(f'{key} -> {val}')

2 -> 4
3 -> 9
4 -> 16
5 -> 25
6 -> 36
7 -> 49
8 -> 64
9 -> 81
10 -> 100
11 -> 121

### Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

In [12]:
cubes = {
    x:x**3
    for x in range(1,11)
}

print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

In [13]:
d1 = {
    x:x**2
    for x in range(1,6)
}

d2 = {
    x:x**2
    for x in range(6,11)
}

d1.update(d2)

print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

In [14]:
student = {
    'name': 'John Doe',
    'age': 16,
    'grades': {
        'math': 90,
        'science': 85,
        'english': 88
    }
}
print(student)

{'name': 'John Doe', 'age': 16, 'grades': {'math': 90, 'science': 85, 'english': 88}}

### Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

In [15]:
multiples = {
    i: [i * j for j in range(1, 6)] 
    for i in range(1, 6)
}

print(multiples)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

### Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

In [17]:
tuple_dict = {
    i: (i, i**2) 
    for i in range(1, 6)
}

print(tuple_dict)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

### Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

In [18]:
d = {
    i: i**2 
    for i in range(1, 6)
}

list_of_tuples = list(d.items())

print(list_of_tuples)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

### Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

In [19]:
d = {
    i: i**2 
    for i in range(1, 11)
}

even_dict = {k: v 
             for k, v in d.items() 
             if k % 2 == 0
            }

print(even_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

### Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

In [20]:
d = {i: i**2 for i in range(1, 6)}
swapped_dict = {v: k for k, v in d.items()}
print(swapped_dict)

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

### Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

In [21]:
from collections import defaultdict

default_dict = defaultdict(list)
default_dict['a'].append(1)
default_dict['a'].append(2)
default_dict['b'].append(3)
print(default_dict)

defaultdict(<class 'list'>, {'a': [1, 2], 'b': [3]})

### Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

In [22]:
def count_chars(s):
    count_dict = {}
    for char in s:
        count_dict[char] = count_dict.get(char, 0) + 1
    return count_dict

string = "hello world"
print(count_chars(string))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

### Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [23]:
import json

book = {
    'title': 'To Kill a Mockingbird',
    'author': 'Harper Lee',
    'year': 1960,
    'genre': 'Fiction'
}
book_json = json.dumps(book)
print(book_json)

{"title": "To Kill a Mockingbird", "author": "Harper Lee", "year": 1960, "genre": "Fiction"}