# Tuple Assignment

### Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
l1 = [ x for x in range(1,11) ]

t1 = tuple(l1)

print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Print the first, middle, and last elements of the tuple created in Assignment 1.

In [8]:
print( t1[0] )
print( t1[ len(t1)//2 ] )
print( t1[-1] )

1
6
10

### Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [11]:
print( t1[0:3] )
print( t1[2:5] )
print( t1[-3:] )

(1, 2, 3)
(3, 4, 5)
(8, 9, 10)

### Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [12]:
nested_tuple = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [13]:
t1 = (1,2,3)
t2 = (4,5,6)

t = t1+t2

print(t)

(1, 2, 3, 4, 5, 6)

### Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [17]:
t = (1,2,3,1,5,3,1,2,4,5,2,3)

print(t.count(1))
print(t.index(1))

3
0

### Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [18]:
t = (1,2,3,4,5)

a,b,c,d,e = t

print(a,b,c,d,e )

1 2 3 4 5

### Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [19]:
l1 = [ x for x in range(1,11) ]

t1 = tuple(l1)

print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


### Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [20]:
tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [23]:
t = (1,2,3,4,5)

l = list(t)
l.append(6)

t = tuple(l)

print(t)

(1, 2, 3, 4, 5, 6)

### Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [26]:
s = "pavan kalyan"
tpl = tuple(s)
print(tpl)
joined_string = ''.join(tpl)
print(joined_string)

('p', 'a', 'v', 'a', 'n', ' ', 'k', 'a', 'l', 'y', 'a', 'n')
pavan kalyan

### Create a dictionary with tuple keys and integer values. Print the dictionary.

In [27]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Create a nested tuple and iterate over the elements, printing each element.

In [29]:
for row in nested_tuple:
    for ele in row:
        print(ele)

1
2
3
4
5
6
7
8
9

### Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [30]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4, 5}

### Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [32]:
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(sample_tpl)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

(1, 2, 3, 4, 5)
Minimum: 1
Maximum: 5
Sum: 15