# Set Assignment

### Create a set with the first 10 positive integers. Print the set.

In [1]:
s1 = { 1,2,3,4,5,6,7,8,9,10 }

print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
s1.add(11)
print(s1)

s1.remove(1)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [3]:
s1 = {1,2,3,4,5}
s2 = {2,4,6,8,10}

print(f'Union {s1.union(s2)}')
print(f'Intersection {s1.intersection(s2)}')
print(f'Difference {s1.difference(s2)}')
print(f'Symmetric Difference {s1.symmetric_difference(s2)}')

Union {1, 2, 3, 4, 5, 6, 8, 10}
Intersection {2, 4}
Difference {1, 3, 5}
Symmetric Difference {1, 3, 5, 6, 8, 10}

### Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [4]:
s = { x**2 for x in range(1,11) }

print(s)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [5]:
even = { x for x in s1 if x%2 == 0 }

print(even)

{2, 4}

### Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [6]:
s = {1, 2, 2, 3, 4, 4, 5}
print(s)
unique = set(s)
print(unique)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

### Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [7]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}

print(f'Is s2 is subset of s1: {s2.issubset(s1)}')
print(f'Is s1 is superset of s2: {s1.issuperset(s2)}')

Is s2 is subset of s1: True
Is s1 is superset of s2: True

### Create a frozenset with the first 5 positive integers. Print the frozenset.

In [8]:
fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

### Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [9]:
s1 = {1,2,3,4,5}
l = list(s1)
l.append(6)

s1 = set(l)

print(s1)

{1, 2, 3, 4, 5, 6}

### Create a dictionary with set keys and integer values. Print the dictionary.

In [10]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

### Create a set and iterate over the elements, printing each element.

In [11]:
s = set(range(1, 6))
for elem in s:
    print(elem)

1
2
3
4
5

### Create a set and remove elements from it until it is empty. Print the set after each removal.

In [12]:
s = set(range(1, 6))
while s:
    s.pop()
    print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

### Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [13]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}

### Create a set and test if certain elements are present in the set. Print the results.

In [14]:
s = set(range(1, 6))
print(3 in s)
print(6 in s)

True
False

### Create a set containing tuples, where each tuple contains two elements. Print the set.

In [15]:
s = { (1, 2), (3, 4), (5, 6) }
print(s)

{(1, 2), (3, 4), (5, 6)}