# Lists

### Create a list of the first 20 positive integers. Print the list.

In [1]:
numbers = [ num for num in range(1,21) ]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Print the first, middle, and last elements of the list created in Assignment 1.

In [2]:
print(numbers[0])
print(numbers[ int(len(numbers) /2) ])
print(numbers[len(numbers)-1])

1
11
20

### Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [3]:
print( numbers[:5] )

print( numbers[ -5: ] )

print( numbers[ 5: 15] )

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

### Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [4]:
squares = [ numbers[i]**2 for i in range(0,10)  ]

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [5]:
even_numbers = [ num for num in numbers if (num&1)==0 ] 
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [6]:
import random

In [7]:
random_number = [ random.randint(1,20) for _ in range(0,20) ]

In [8]:
random_number

[5, 1, 5, 20, 11, 14, 12, 3, 16, 7, 12, 19, 5, 15, 18, 5, 18, 6, 2, 10]

In [9]:
# descending

random_number.sort(reverse=True)
random_number

[20, 19, 18, 18, 16, 15, 14, 12, 12, 11, 10, 7, 6, 5, 5, 5, 5, 3, 2, 1]

In [10]:
# ascending

random_number.sort()
random_number

[1, 2, 3, 5, 5, 5, 5, 6, 7, 10, 11, 12, 12, 14, 15, 16, 18, 18, 19, 20]

In [11]:
unique_list = [ random_number[i] 
               for i in range(0,len(random_number)) 
               if( (i==0) or  (i>0 and random_number[i] != random_number[i-1]) ) 
              ]

unique_list

[1, 2, 3, 5, 6, 7, 10, 11, 12, 14, 15, 16, 18, 19, 20]


### Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [12]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

print(matrix)

print(matrix[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6

### Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [13]:
students = [
    {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 72},
    {'name': 'Charlie', 'score': 95},
    {'name': 'David', 'score': 65},
    {'name': 'Eve', 'score': 78}
]

sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)

print("Sorted students by score in descending order:")

for student in sorted_students:
    print(student)

Sorted students by score in descending order:
{'name': 'Charlie', 'score': 95}
{'name': 'Alice', 'score': 88}
{'name': 'Eve', 'score': 78}
{'name': 'Bob', 'score': 72}
{'name': 'David', 'score': 65}


### Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [14]:
def transpose_matrix(matrix):
    transposed = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
    return transposed

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed = transpose_matrix(matrix)
print("Original matrix:")
for row in matrix:
    print(row)
print("Transposed matrix:")
for row in transposed:
    print(row)

Original matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposed matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]


### Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [15]:
def flatten_list(nested_list):
    flat_list = [item for sublist in nested_list for item in sublist]
    return flat_list

nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
flattened = flatten_list(nested_list)
print("Original nested list:")
print(nested_list)
print("Flattened list:")
print(flattened)

Original nested list:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flattened list:
[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [16]:
lst = list(range(1, 11))
print(f"Original list: {lst}")
del lst[6]
del lst[4]
del lst[2]
lst.insert(5, 99)
print(f"Modified list: {lst}")

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Modified list: [1, 2, 4, 6, 8, 99, 9, 10]

#### Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [17]:
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c', 'd', 'e']
zipped = list(zip(list1, list2))
print(zipped)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

### Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [18]:
def reverse_list(lst):
    return lst[::-1]

original_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original_list)
print(f"Original list: {original_list}")
print(f"Reversed list: {reversed_list}")

Original list: [1, 2, 3, 4, 5]
Reversed list: [5, 4, 3, 2, 1]


### Write a function that rotates a list by n positions. Print the original and rotated lists.

In [19]:
def rotate_list(lst, n):
    return lst[n:] + lst[:n]

original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_list(original_list, 2)
print(f"Original list: {original_list}")
print(f"Rotated list: {rotated_list}")

Original list: [1, 2, 3, 4, 5]
Rotated list: [3, 4, 5, 1, 2]

### Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [20]:
def list_intersection(lst1, lst2):
    return [x for x in lst1 if x in lst2]

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
intersection = list_intersection(list1, list2)
print(f"List 1: {list1}")
print(f"List 2: {list2}")
print(f"Intersection: {intersection}")

List 1: [1, 2, 3, 4, 5]
List 2: [3, 4, 5, 6, 7]
Intersection: [3, 4, 5]